.App {
  color: #ced8e4;
  background: #1e1f2e;
  width: 20%;
  margin: 50px auto;
  border-radius: 20px;
  border: 1px solid #2b2d42;
  box-shadow: 5px 5px 5px rgb(43, 45, 66, 0.5);
}

.App h1 {
  padding: 20px 0 10px 20px;
  font-size: 1.5em;
  font-weight: 100;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#intro {
  padding-left: 20px;
  font-size: 1em;
  font-weight: 100;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.stats {
  display: flex;
  background: #2b2d42;
  border-radius: 0 0 20px 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#count,
#completed {
  padding: 10px 20px;
}

#count span,
#completed span {
  color: #3ec9e9;
}

@media screen and (max-width: 700px) {
  .App {
    width: 80%;
  }
}

@media screen and (min-width: 701px) and (max-width: 1000px) {
  .App {
    width: 40%;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1439px) {
  .App {
    width: 30%;
  }
}